<h1>Edit <%= @console.name %></h1>
<br>

<form action="/consoles/<%= @console.slug %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="console_name">Console Name</label>
  <input type="text" name="console[name]" value="<%= @console.name %>" id="console_name">

  <input type="submit" value="Save">
</form>

<br>
<br>
<a href="/games"> View Games </a>
<br>
<br>
<a href="/logout"> Log Out </a>
<br>
