<nav>

  <p>Welcome, <%=@user.username %></p>
  <a href="/logout"> Log Out </a>
  <br>
  <br>
  <br>

<ul>
<% @consoles.each do |console| %>
<li> <a href= '/consoles/<%=console.slug%>'> <%= console.name %> </a> </li>
<% end %>
</ul>

<br>
<a href="/games/new"> Add Games </a>
<br>
<br>
<a href="/games"> View Games </a>
<br>
<br>
