<nav>

  <p>Welcome, <%=@user.username %></p>
  <a href="/logout"> Log Out </a>
  <br>
  <br>
  <br>

  <h2> Your Consoles </h2>
  <br>

<ul>
<% @consoles.each do |console| %>
<h3> <li> <a href= '/consoles/<%=console.slug%>'> <%= console.name %> </a> </li> </h3>
<% end %>
</ul>

<br>
<a href="/games/new"> Add Games </a>
<br>
<br>
<a href="/games"> View Games </a>
<br>
<br>
