<ul>
  <% @console.games.each do |game| %>
    <li><a href="/games/<%= game.slug %>"><%= game.name %> </a></li>
  <% end %>
</ul>

<br>
<a href="/games/new"> Add Games </a>
<br>
<br>
<a href="/logout"> Log Out </a>
<br>
