<nav>

  <p>Welcome, <%=@user.username %></p>
  <a href="/logout"> Log Out </a>

    <a href="/games/new"> Add Games </a>
    <br>
    <a href="/games/edit"> Edit Games </a>
    <br>
    <a href="/games/show"> View Games </a>
    <br>
    <br>
