<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Time to Level Up!  Add a New Game!</h1>
<br>

<form action="/games" method="POST">

  <label> Name </label>
  <input type="text" name="name">

  <label> Console Name </label>
  <input type="text" name="console_name">

  <input type="submit" value="Add Game">
</form>

<br>
<br>
<a href="/games"> View Games </a>
<br>
<br>
<a href="/logout"> Log Out </a>
<br>
